<%= render 'shared/flash' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <table class="full">
      <tr>
        <td><b class="panel-title"><%= t :notes %></b></td>
        <td class="text-right">
          <%= link_to new_note_path, class: 'btn btn-success' do %>
            <i class="fa fa-plus"></i> <%= t :newnote %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <ul class="list-group">
    <% current_user.notes.order(updated_at: :desc).each do |note| %>
      <%= link_to note.title, note, class: 'list-group-item' %>
    <% end %>
  </ul>
</div>
<% if current_user.shares.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b class="panel-title"><%= t :sharedwithme %></b>
    </div>
    <ul class="list-group">
      <% current_user.shares.includes(:note).order('notes.updated_at DESC').each do |share| %>
        <%= link_to share.note.title, share.note, class: 'list-group-item' %>
      <% end %>
    </ul>
  </div>
<% end %>
