<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>Grummle</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Grummle is an easy and minimalistic system that allows you to manage personal notes.">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload', defer: true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" defer></script>
  <script>
  window.addEventListener("turbolinks:load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#efefef",
        "text": "#404040"
      },
      "button": {
        "background": "#8ec760",
        "text": "#ffffff"
      }
    },
    "theme": "classic"
  })});
  </script>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div id="container" class="container">
    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
